################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sudocker/obj/Debug
/SudockerWeb/bin/Debug/net452
/UnitTests/obj/Debug
/.vs/Sudocker/v16
